#propiedades
{
	background-color: #E6E7E8;
}

.descripcion
{
	position: relative;
	margin-top: 2%;
	font-size: 14pt;
	height: 80%;
}

.row
{
	position: relative;
	height: 100%;
}

.cuerpo
{
	position: relative;
	height: auto;
}

.tarjetacasa
{
	position: relative;
	background-color: rgba(242, 89, 0, 1);
	width: 80%;
	margin-left: 10%;
	height: 310px;
	
}

.tarjetaimagen
{
	position: relative;
	height: 44%;
    width: 100%;
}

.tarjetaimagen img
{
	position: relative;
	height: 100%;
    width: 100%;
}

.tarjetainformacion
{
	position: relative;
	height: 56%;
	background-color: #E6E7E8;
	margin-top: 1%;
	
}

#identificadorpropiedad
{
	position: relative;
	height: 100%;
}

.tarjetainformacion p
{
	position: relative;
	font-size: 9pt;
	text-align: justify;
	margin-bottom: 2%;
}

.vermas
{
	background-color: rgba(242, 89, 0, 1);
	color: white;
	right: 0%;
}

.vermas:hover
{
	background-color: #F58634;
}


.logoprop
{
    position: relative;
    height: 100%;
    z-index: 10;
    background-color: rgba(242, 89, 0, 0.4);
    text-align: center;
}

.logoprop div img
{
	margin: 2%;
	width: 40%;
}



.titulosprop
{
	position: relative;
	margin-top:1%;
	margin-bottom: 1%;
	border-left-style: solid;
	border-left-width: 5px;	
	border-left-color: #F25900;	
	margin-left: 5%;
}

.elementmenuprop
{
	margin: 2%;
}

.elementmenuprop label
{
	font-size: 10pt;
}

.inputcolor
{
	position: relative;
	height: 80%;
	width: 80%;
margin-left: 10%;
	background-color: rgba(242, 89, 0, 1);
	color: white;
}

#idprop
{
	display: none;
}