#propiedad
{
	background-color: transparent;
	margin-top: 52px;
}

.cuerpo {
	margin-bottom: 50px;
}

.foto-album
{
	position: relative;
	/*margin-left: 21%;*/
	/*margin-bottom: 100px;*/
	font-size: 14pt;
	/*height: 350px;*/
	text-align: center;
}

.descripcion
{
	position: relative;
	margin-top: 0;
	font-size: 14pt;
	/*height: 80%;*/
	box-shadow: 0 0 5px #111;

}

.descripcion .panel-heading
{
	/*background-color: #F5F6F7;*/
	color: rgba(242, 89, 0, 0.8);
}
.descripcion .panel-body
{
	/*max-height: 350px;*/
	/*overflow-y:scroll;*/
	background-color: #Fafafa;
	text-align: center;
}
.descripcion .panel-body button
{
	position: relative;
	left: 50%;
}

#carrusel
{
	position: relative;
	/*width:96%;*/
	float:left; 
	overflow:hidden; 
	/*height:18%; */
	position:relative; 
	margin-top:1%;
	margin-left: 2%;
}
/*
#carrusel .izquierda_flecha
{
	position:absolute; 
	left:10px; 
	z-index:10; 
	top:50%; 
	margin-top:-9px;
}

#carrusel .derecha_flecha
{
	position:absolute; 
	right:10px; 
	z-index:10; 
	top:50%; 
	margin-top:-9px;
}
*/
.carrusel
{
	position: relative;
	width:100%;
	/*height: 100%;*/
	left:0px; 
	position:absolute;
	z-index:0;
	padding-right: 10px;
}
.carrusel>div
{
	position: relative;
    float: left;
    /*height: 15%;*/
    /*width: 15%;*/
    margin-bottom: 5px;
    text-align:center;
    /*margin-right: 1%;*/
}
.carrusel .img_carrusel
{
	cursor:pointer;
	width: 100%;
}

#content {
	position: relative;
    float:left;
    width:100%;
    /*height: 100%;*/
    margin-bottom:40px;
    /*margin:0px auto;*/
    /*background-color: rgba(242, 89, 0, 0.8);*/
}

.bigimage
{
	position: relative;
	width: 100%;
	/*height: 80%;*/
	/*padding-top: 2%;*/
}

.bg-waves {
	background-color: #ffffff;
	background-image: url("../img/diagonal-waves.png");
}

.nopadding {
	padding: 0;
}

.nomargin {
	margin: 0;
}

.border-color {
	box-shadow: 2px 2px 3px rgba(242, 89, 0, 0.8);;
	/*border: 2px solid rgba(242, 89, 0, 0.8);*/
}

.p-10 {
	padding: 10px;
}

.mb-30 {
	margin-bottom: 30px;
}
.mt-10 {
	margin-top: 10px;
}
.border-right {
	border-right: 1px solid #aaa;
}
.orange {
	color: rgba(242, 89, 0, 0.8);
}

.text-shadow {
	text-shadow: 0 0 1px #FFDC00;
	font-weight: bold;
}

