@font-face{
   font-family: Dotum;
   src: "";
}

html
{
	position: absolute;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}
body
{
	position: relative;
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background-color: transparent;
}

#nosotros
{
	background-color: #FFFFFF;
}

#preguntas-frecuentes
{
	background-color: #E6E7E8;
}

.titulos
{

}

.titulos h1
{

}

.filtro-inicial
{
	position: relative;
	background-color: #F58634;
	color: white;
	border-style: none;
	margin-right: 2%;
	margin-bottom: 4px;
}

.filtro-inicial:hover
{
	background-color: #F7B512;
	cursor:pointer;
}

.boton-index
{
	height: 48px;
	border-style: none;
	color: white;
}

.boton-index:hover
{
	background-color: #F58634;
}

.boton-index-mas
{
	background-color: #F25900;
	color: white;
	border-style: none;
	position: relative;
}

#contenido
{
	position: relative;
	width: 100%;
	height: 40%;
	background-color: transparent;
	padding-top: 2%;
	margin-left: 0%;
}

.titulos
{
	position: relative;
	margin-top:3%;
	margin-bottom: 3%;
	border-left-style: solid;
	border-left-width: 5px;	
	border-left-color: #F25900;
}	

.descripcion
{
	margin-top: 2%;
	font-size: 14pt;
}

.descripcion .panel-heading
{
	background-color: rgba(242, 89, 0, 0.8);
	font-size: 16pt;
}

.descripcion .panel-heading h3
{
	font-size: 16pt;
}



@media (max-width: 991px){	
/*	.cuerpo
	{
		position: relative;
		background-color: #222;
		height: 570px;
	}
*/	
	#contenido .col-md-12
	{
		margin-top: 2%;
	}

	.cuerpo
	{
		position: relative;
		height: 122%;
		width: 100%;
		background-color: #222;
		padding: 0;
		margin:0;
		top: 8%;
	}
	.slide
	{
		position: relative;
		height:60%;
		padding: 0;
		margin: 0;
	}

	
/*	.contenido
	{
		position: relative;
		height: 55%;
		background-color: transparent;
		padding-top: 2%;
	}
*/
}
@media (min-width: 992px){	
/*	.cuerpo
	{
		background-color: #222;
	}
	*/
	#contenido .col-md-12
	{
		position: relative;
		width:100%;
		top: 22%;
	}
	.cuerpo
	{
		position: relative;
		height: 92%;
		width: 100%;
		background-color: #222;
		padding: 0;
		margin:0;
		top: 8%;
	}
	.slide
	{
		position: relative;
		height:70%;
		padding: 0;
		margin: 0;

	}

}

